.Gf {
  width: 70%;
}
.forms {
  width: 100%;
  margin: auto;
  border-radius: 10px;
  outline: none;
  border-width: 0 0 2px;
  border-color: #dee2e6;
  padding: 10px;
}
label {
  position: absolute;
  top: 11px;
  left: 1%;
  color: #1abc9c;
  margin-bottom: 7px;
  transition: 0.6s top;
  z-index: -1;
}
.forms:not(:placeholder-shown) + label {
  top: -30px;
}
.btnForm {
  background: #1abc9c !important;
  color: #ffffff !important;
}
