.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(135deg, #f5f7fa, #c3cfe2);
  text-align: center;
  padding: 0 1.25rem;
  box-sizing: border-box;
}

.title {
  font-size: 10rem;
  margin: 0;
  color: #1abc9c;
}

.subtitle {
  font-size: 32px;
  margin: .625rem 0 1.25rem 0;
  color: #33333378;
}

.text {
  font-size: 16px;
  color: #555;
  margin-bottom: 1.875rem;
  max-width: 31.25rem;
}

.buttons button {
  background: #1abc9c;
  color: white;
  border: none;
  padding: .75rem 1.5625rem;
  margin: 0 .625rem;
  border-radius: .5rem;
  cursor: pointer;
  font-size: 16px;
  transition: all 0.3s ease;
}

.buttons button:hover {
  background: #159b87;
  transform: translateY(-0.1875rem);
}
