.style {
  background-color: #2c3e50;
  color: #fff;
  justify-content: center;
  text-align: center;
  padding: 80px;
  margin: 0;
}
.icon::before {
  content: "";
  padding: 10px;
  border-radius: 50%;
  border: #fff 2px solid;
}
