.style {
  color: #fff;
  background-color: #1abc9c;
  height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
div.img{
    width: 280px !important;
}